.subjugated,
.rebel,
.imperial {
    opacity: 0;
}

.cls-1,
.cls-171,
.cls-7 {
    fill: none;
}

.cls-109,
.cls-112,
.cls-116,
.cls-120,
.cls-123,
.cls-127,
.cls-13,
.cls-130,
.cls-134,
.cls-139,
.cls-145,
.cls-149,
.cls-150,
.cls-157,
.cls-158,
.cls-162,
.cls-163,
.cls-166,
.cls-167,
.cls-2,
.cls-63,
.cls-70,
.cls-75,
.cls-80,
.cls-85,
.cls-93,
.cls-98 {
    fill: #fff;
}

.cls-3,
.cls-5 {
    fill: #d32e27;
}

.cls-3 {
    opacity: 0.5;
}

.cls-4 {
    opacity: 0.7;
}

.cls-6 {
    clip-path: url(#clip-path);
}

.cls-7 {
    stroke: #fc6;
    stroke-width: 5.1px;
}

.cls-8 {
    fill: url(#radial-gradient);
}

.cls-9 {
    opacity: 0.25;
}

.cls-10 {
    fill: #b8ccc7;
}

.cls-11,
.cls-56 {
    opacity: 0.4;
}

.cls-12 {
    fill: url(#radial-gradient-2);
}

.cls-109,
.cls-112,
.cls-116,
.cls-120,
.cls-123,
.cls-127,
.cls-13,
.cls-130,
.cls-134,
.cls-139,
.cls-145,
.cls-149,
.cls-150,
.cls-157,
.cls-158,
.cls-162,
.cls-163,
.cls-166,
.cls-167,
.cls-57,
.cls-61,
.cls-63,
.cls-70,
.cls-75,
.cls-80,
.cls-85,
.cls-93,
.cls-98 {
    isolation: isolate;
}

.cls-21 {
    fill: url(#radial-gradient-3);
}

.cls-22 {
    fill: url(#radial-gradient-4);
}

.cls-23 {
    fill: url(#radial-gradient-5);
}

.cls-24 {
    fill: url(#radial-gradient-6);
}

.cls-25 {
    fill: url(#radial-gradient-7);
}

.cls-26 {
    fill: url(#radial-gradient-8);
}

.cls-27 {
    fill: url(#radial-gradient-9);
}

.cls-28 {
    fill: url(#radial-gradient-10);
}

.cls-29 {
    fill: url(#radial-gradient-11);
}

.cls-30 {
    fill: url(#radial-gradient-12);
}

.cls-31 {
    fill: url(#radial-gradient-13);
}

.cls-32 {
    fill: url(#radial-gradient-14);
}

.cls-33 {
    fill: url(#radial-gradient-15);
}

.cls-34 {
    fill: url(#radial-gradient-16);
}

.cls-35 {
    fill: url(#radial-gradient-17);
}

.cls-36 {
    fill: url(#radial-gradient-18);
}

.cls-37 {
    fill: url(#radial-gradient-19);
}

.cls-38 {
    fill: url(#radial-gradient-20);
}

.cls-39 {
    fill: url(#radial-gradient-21);
}

.cls-40 {
    fill: url(#radial-gradient-22);
}

.cls-41 {
    fill: url(#radial-gradient-23);
}

.cls-42 {
    fill: url(#radial-gradient-24);
}

.cls-43 {
    fill: url(#radial-gradient-25);
}

.cls-44 {
    fill: url(#radial-gradient-26);
}

.cls-45 {
    fill: url(#radial-gradient-27);
}

.cls-46 {
    fill: url(#radial-gradient-28);
}

.cls-47 {
    fill: url(#radial-gradient-29);
}

.cls-48 {
    fill: url(#radial-gradient-30);
}

.cls-49 {
    fill: url(#radial-gradient-31);
}

.cls-50 {
    fill: url(#radial-gradient-32);
}

.cls-51 {
    fill: url(#radial-gradient-33);
}

.cls-52 {
    clip-path: url(#clip-path-2);
}

.cls-53 {
    fill: url(#radial-gradient-34);
}

.cls-54 {
    clip-path: url(#clip-path-3);
}

.cls-55 {
    fill: url(#radial-gradient-35);
}

.cls-56 {
    fill: url(#linear-gradient);
}

.cls-57,
.cls-62 {
    fill: #d4e0dd;
}

.cls-171 {
    stroke: #b8ccc7;
    stroke-linejoin: round;
    stroke-width: 4.32px;
}
